.container {
    display: flex;
    padding: 50px;
    width: 100%;
}
.link-hover {
  color: #6c757d; 
  text-decoration: none;
}
.link-hover:hover{
  color: #ec51bd; 
}
.Trai {
    padding: 40px;
    border: 2px rgba(211, 211, 211, 0.879) solid;
    width: 35%;
    float: left;
}
.Giua {
    padding: 40px;
    border: 2px rgba(211, 211, 211, 0.879) solid;
    width: 35%;
    margin-left: 40px;
}
.Phai {
    padding: 40px;
    width: 30%;
    margin-left: 40px;
}
.Phai .list-group-item a {
    color: rgb(212, 106, 165); 
    text-decoration: none; 
}

.Phai .list-group-item a:hover {
    text-decoration: underline; 
}
.font-chu {
    font-size: 20px;
}
.bgr {
    background-color: #f5f1f1;
}
.form-control {
    height: 65px;
    font-size: 20px;
}
.Nav {
    background-color: rgb(236, 151, 193);
}
.timkiem {
        height: 65px;
        width: 500px;
        font-size: 20px;
        background-color: #f4f2f2;
}
.taikhoan {
    height: 65px;
    width: 150px;
    font-size: 20px;
}
.btn-tieptuc {
    background-color: rgb(236, 151, 193);
    color: black;
}

.btn-tieptuc:hover {
    background-color: #db6d91; 
    border-color: #ec407a;
}